<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>호텔 추가</title>
</head>
<body>
<h2>호텔 추가</h2>
<form th:action="@{/admin/management/hotel/add}" method="post" th:object="${hotel}">
    <label>호텔 ID:</label>
    <input type="number" th:field="*{hotelID}" required/><br />

    <label>호텔 이름:</label>
    <input type="text" th:field="*{hotelName}" required/><br />

    <label>도시:</label>
    <input type="text" th:field="*{region}" required/><br />

    <label>전화번호:</label>
    <input type="text" th:field="*{phone}" required/><br />

    <label>설명:</label>
    <textarea th:field="*{hotelExpl}" required></textarea><br />

    <button type="submit">저장</button>
</form>
<a href="/admin/management/hotel">돌아가기</a>
</body>
</html>