<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Management</title>
    <link rel="stylesheet" type="text/css" href="/css/style5.css">
</head>
<body>
<div class="container">
    <h1>관리자 페이지</h1>
    <p>관리자만 접근할 수 있는 페이지입니다.</p>
    <div class="button-group">
        <button onclick="location.href='/admin/management/hotel'">호텔 관리</button>
        <button onclick="location.href='/admin/management/user'">유저 관리</button>
        <button onclick="location.href='/admin/logout'">로그아웃</button>
    </div>
</div>
</body>
</html>