<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="form-container">
  <button>방 추가</button>
  <table>
  <thead>
    <tr>
      <th>room id</th>
      <th>room type</th>
      <th>hotel id</th>
      <th>price</th>
      <th>room number</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
    <tbody>
    <tr th:each="room : ${hotelRoom}">
      <td th:text="${room.roomID}"></td>
      <td th:text="${room.roomType}"></td>
      <td th:text="${room.hotelID}"></td>
      <td th:text="${room.price}"></td>
      <td th:text="${room.roomNumber}"></td>
      <td>방수정</td>
      <td>방삭제</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>