<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>방 업데이트 및 추가</title>
  <link rel="stylesheet" type="text/css" href="/css/style3.css">
</head>
<body>
<div class="container">
  <h1 th:text="${selectRoom != null} ? '방 업데이트' : '방 추가'"></h1>
  <form th:action="@{/room/update}" th:object="${selectRoom}" method="post">
    <input type="hidden" th:if="${selectRoom != null}" th:name="roomID" th:value="${selectRoom.roomID}"/>

    <table>
      <tbody>
      <tr>
        <td>방 ID:</td>
        <td th:text="${selectRoom != null} ? ${selectRoom.roomID} : ''"></td>
      </tr>
      <tr>
        <td>호텔 ID:</td>
        <td>
          <input type="text" th:name="hotelID"
                 th:value="${selectRoom != null} ? ${selectRoom.hotelID} : ${hotelID}"
                 readonly />
        </td>
      </tr>
      <tr>
        <td>방 유형:</td>
        <td>
          <select th:name="roomType" required>
            <option th:value="'베이직'" th:text="'베이직'"
                    th:selected="${selectRoom != null && selectRoom.roomType == '베이직' }">베이직</option>
            <option th:value="'스위트'" th:text="'스위트'"
                    th:selected="${selectRoom != null && selectRoom.roomType == '스위트' }">스위트</option>
            <option th:value="'럭셔리'" th:text="'럭셔리'"
                    th:selected="${selectRoom != null && selectRoom.roomType == '럭셔리' }">럭셔리</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>가격:</td>
        <td><input type="number" th:name="price" th:value="${selectRoom != null} ? ${selectRoom.price} : ''" required/></td>
      </tr>
      <tr>
        <td>방 번호:</td>
        <td><input type="text" th:name="roomNumber" th:value="${selectRoom != null} ? ${selectRoom.roomNumber} : ''" required/></td>
      </tr>
      </tbody>
    </table>

    <button type="submit" th:text="${selectRoom != null} ? '방 수정' : '방 추가'"></button>
  </form>
</div>
</body>
</html>
