<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hotels</title>
  <meta charset="utf-8">
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body class="container">

<!-- 마이페이지 -->
<div class="sidebar">
  <h4 style="text-align: right;"><span th:text="${session.name}"></span>님 환영합니다.</h4>
  <button onclick="'location.href=\''+@{/reserve/userReservationList}+'\''">예약 관리</button>
  <button onclick="'location.href=\''+@{/review/userReviewList}+'\''">리뷰 관리</button>
  <button onclick="location.href='/logout'">로그아웃</button>
</div>

<div class="content">
  <h2>도시를 선택하세요</h2>
  <form th:action="@{/ㅙ/selectCity}" method="post">
    <label for="city">도시:</label>
    <select name="city" id="city">
      <option value="1">서울</option>
      <option value="2">부산</option>
      <option value="3">제주</option>
      <option value="4">인천</option>
      <option value="5">여수</option>
      <option value="6">수원</option>
      <option value="7">대전</option>
      <option value="8">광주</option>
      <option value="9">대구</option>
      <option value="10">속초</option>
    </select>

    <button type="submit">확인</button>
  </form>
</div>
</body>
</html>