<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>리뷰 관리</title>
  <meta charset="utf-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
<h2>리뷰 관리</h2>
<table>
  <thead>
  <tr>
    <th>번호</th>
    <th>호텔번호</th>
    <th>호텔명</th>
    <th>평점</th>
    <th>내용</th>
    <th>방번호</th>
    <th>타입</th>
    <th>가격</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="reserveList : ${reserveList}">
    <td th:text="${reserveList.reserveID}"></td>
    <td th:text="${reserveList.hotelID}"></td>
    <td th:text="${reserveList.hotelName}"></td>
    <td th:text="${reserveList.startDate}"></td>
    <td th:text="${reserveList.endDate}"></td>
    <td th:text="${reserveList.roomid}"></td>
    <td th:text="${reserveList.roomtype}"></td>
    <td th:text="${reserveList.price}"></td>
  </tr>
  </tbody>
</table>
<button th:onclick="|location.href='@{./}'|">뒤로</button>
</body>
</html>