<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>예약 관리</title>
  <meta charset="utf-8">
  <link rel="stylesheet" th:href="@{/css/style3.css}">
</head>
<body class="container" style="display: flex; justify-content: center;">
<div style="width: 1002px; background-color: white; padding: 30px; border-radius: 30px;">
<h2>예약 관리</h2>
<table>
  <thead>
  <tr>
    <th style="width: 80px; text-align: center;">예약번호</th>
    <th style="width: 70px; text-align: center;">호텔번호</th>
    <th style="width: 250px;">호텔명</th>
    <th style="width: 100px; text-align: center;">체크인</th>
    <th style="width: 100px; text-align: center;">체크아웃</th>
    <th style="width: 60px; text-align: center;">방번호</th>
    <th style="width: 70px; text-align: center;">타입</th>
    <th style="width: 80px; text-align: center;">가격</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="reserveList : ${reserveList}">
    <td th:text="${reserveList.reserveID}" style="text-align: center;"></td>
    <td th:text="${reserveList.hotelID}" style="text-align: center;"></td>
      <td>
        <a th:href="@{/reserve/userReservationUpdate(reserveID=${reserveList.reserveID}, hotelID=${reserveList.hotelID}, hotelName=${reserveList.hotelName}, startDate=${reserveList.startDate}, endDate=${reserveList.endDate}, roomid=${reserveList.roomid})}"
           th:text="${reserveList.hotelName}"></a>
      </td>
    <td th:text="${reserveList.startDate}" style="text-align: center;"></td>
    <td th:text="${reserveList.endDate}" style="text-align: center;"></td>
    <td th:text="${reserveList.roomid}" style="text-align: center;"></td>
    <td th:text="${reserveList.roomtype}" style="text-align: center;"></td>
    <td th:text="${reserveList.price}" style="text-align: center;"></td>
  </tr>
  </tbody>
</table>
<br>
<button type="submit" th:onclick="|location.href='/'|">뒤로</button>
</div>
</body>
</html>